
.card{
    display: inline-grid;
    grid-template-columns: auto auto;
    cursor: pointer;
}
.main_card{
    width: 23vw;
    height: 27vh;
    margin: 10px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.6)
    
}

.image_section{
    width: 8vw;
    height: 27vh;
    display: inline-block;
    //border-right: 1px solid black;
}

.details_section{
    width: 15vw;
    height: 27vh;
    background-color: #dff9fb;
    float: right;
    //border: 1px solid black;
}

.image{
    width: 8vw;
    height: 24vh;
    border-bottom: 1px solid black;
}

.active{
    font-size: small;
    font-weight: bold;
    height: 3vh;
    margin-top: -5px;
    text-align: center;
    background-color: rgb(77, 249, 77);
}
.inactive{
    font-size: small;
    color: white;
    font-weight: bold;
    height: 3vh;
    margin-top: -5px;
    text-align: center;
    background-color: red
}
.details p{
    width: 13vw;
    height: 25vh;
}
.para{
    margin: 0px 0px 0px 5px;
}
.para_head{
    font-weight: bold;
    margin: 2px 0px 2px 5px;
}

.span{
    font-weight: normal;
}

.edit_btn{
    font-weight: bold;
    font-size: large;
    color: white;
    float: right;
    //margin-left: 150px;
    margin-top: 5px;
    padding: 3px 10px;
    // padding-left: 8px;
    // padding-right: 8px;
    border: none;
    border-radius: 3px;
    background-color: #3498db;
}
.select_view{
    width: 100vw;
    height: 60px;
}
.view_mode{
    float: right;
    margin: 20px 40px 10px 0px
}
.view_mode select{
    margin-left: 10px;
}
.add_user{
    border: none;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    padding: 5px 15px;
    margin: 20px 0px 10px 20px;
    background-color: #1e90ff;
}

.display_limit{
    display: flex;
    justify-content: center;
    margin: 20px 0px 50px 0px;
    font-size: 20px;
    font-weight: bold;
}
.display_limit select{
    margin-left: 10px;
}